/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');

:root {
    /* General Styling Variables */
    --welcome-text-font: 'Quicksand', sans-serif;

    /* Theme Specific Variables */
    --light-theme-welcome-color: #303030;
}

h1.welcome {
    font-family: var(--welcome-text-font);
    color: var(--light-theme-welcome-color);
}