/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');


:root {
    /* General Styling Variables */
    --welcome-text-font: 'Quicksand', sans-serif;

    /* Theme Specific Variables */
    --theme-welcome-text-color: #303030;
}

[page-theme=dark] {
    --theme-welcome-text-color: white;
}

.welcome {
    font-family: var(--welcome-text-font);
    color: var(--theme-welcome-text-color);

}

body, html {
  min-height:100%;
  width:100%;
  margin:0;
  /* overflow:hidden; */
}


.inline-centering {
    text-align: center !important;
}

.space {
  height:700px;
}
.expandable-l {
  display:none;
}

.expandable-r {
  display: none;
}
