/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Titillium+Web:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Titillium+Web:ital,wght@0,300;0,400;1,400&display=swap');
:root {
    /* General Styling Variables */
    --welcome-text-font: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;;

    /* Theme Specific Variables */
    --theme-welcome-text-color: #303030;
}

[page-theme=dark] {
    --theme-welcome-text-color: white;
}

.welcome {

  font-family: 'Titillium Web', sans-serif;
    color: var(--theme-welcome-text-color);

}

body, html {
  min-height:100%;
  width:100%;
  margin:0;
  /* overflow:hidden; */
}


.inline-centering {
    text-align: center !important;
}
