:root {
    --bg-color: rgb(0, 72, 114);
    --tracker-text-color: rgb(255, 255, 255);
}
[page-theme="dark"]{
    --bg-color: rgb(32, 32, 32);
    --tracker-text-color: rgb(206, 206, 206);
}
.tracker-content {
    /* margin-top: 15%; */
}


body {
    background-color: var(--bg-color);

}


.tracker-list {
    list-style: none;
}



li:hover {
    animation: grow 0.2s forwards;
}

@keyframes grow {
    0%{size: 100%}
    100%{size: 125%;}
}

.tracker-content{
    color: var(--tracker-text-color)
}
.countryData {
    /* background-color: white; */

}
#myChart {
    margin-top: 75px;
}