

:root {
  --bg-color: white;
  --header-bg-col: #212654;
  --header-txt-col: white;
  --dropdown-bg-col: #212654;
  --dropdown-txt-col:white;
  --header-txt-col-hover: rgb(175, 175, 175);
  --txt-bg-col: black;

}

[page-theme=dark] {
  --bg-color:black;
  --header-bg-col: black;
  --header-txt-col:rgba(225, 179, 130, 0.85);
  --header-txt-col-hover: rgba(225, 179, 130, 1);
  --dropdown-bg-col: black;
  --dropdown-txt-col: white;
  --txt-bg-col: white;
}


body {
  background: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#container {
  position: relative;
  z-index: 2;
  padding-top: 100px;
}

.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid #2c3e50;
  margin: 100px auto 50px auto;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 10px;
}

.welcome {
  color:white;
  margin-bottom:5px !important;
}

.welcome #a3 {
  color:red;
  font-size: 50px;
  text-decoration: underline;
}

#a1, #a2 {
  color: var(--txt-bg-col);
}

.td-box {
  display: flex;
}

.td-box a{
  flex-grow:1;
  color: var(--txt-bg-col);
}

#a1, #a2, #a3 {
  opacity:0;
}

.list-header {
  color:white;
  text-color:white;
  flex-grow:1;
  opacity:0;
}

.sbbtl- {
  color: gray;
  font-size:15px;
  opacity:0;
}

.ttl-cont {
  margin-bottom:20px;
}

.dropDown-info {
  height:0px !important;
}

#openNav {
  position:fixed;
  top:48px;
  left:0;
  width:75px;
  height:42px;
    background-color: #4CAF50;
    padding:0 !important;
    border: 1px solid black;
}

#main {
  margin-top:48px;
}

.mySidebar {
  background-color:var(--txt-bg-col);
  position:fixed;
  height:100%;
  width:0%;
}

.header a {
  color: var(--txt-bg-col) !important;
}
