@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Titillium+Web:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

:root {
  --bg-color: white;
  --header-bg-col: #212654;
  --header-txt-col: white;
  --dropdown-bg-col: #212654;
  --dropdown-txt-col:white;
  --header-txt-col-hover: rgb(175, 175, 175);
  --txt-bg-col: black;
  --txt-desc-color: rgb(65, 65, 65);

}

[page-theme=dark] {
  --bg-color:black;
  --header-bg-col: black;
  --header-txt-col:rgba(225, 179, 130, 0.85);
  --header-txt-col-hover: rgba(225, 179, 130, 1);
  --dropdown-bg-col: black;
  --dropdown-txt-col: white;
  --txt-bg-col: white;
  --border-news-clr: rgb(185, 185, 185);
  --txt-desc-color: lightgray;
}


body {
  background: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#dropdownMenuButton2 {
  top:4px;
  position:absolute;
  color: var(--txt-bg-col);
  border-radius: 12px;
  width:24px;
  left:20px;
  z-index: 4;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

#dropdownMenuButton2:hover {
  /* border-radius: 14px;
  width: 28px;
  height:28px;
  font-size: 18px; */
  background-color:  green;
  color:white;
}

.block-o {
  background-color: var(--bg-color);
  z-index:5;
  position: fixed;
  top:44px;
  width:100%;
  /* width: 64px; */
  display: block;
  height:30px;
}

@media screen and (max-width: 767px) {
  .block-o {
    top:48px;
  }
  .dropdown-menu {
    top:48px;
  }
}

.space {
  color:var(--bg-color);
   width:64px;
  height:100%;
  margin-right:0px;
}


#container {
  position: relative;
  z-index: 2;
  padding-top: 100px;
}

.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid #2c3e50;
  margin: 100px auto 50px auto;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 10px;
}

.welcome {
    color:var(--txt-bg-col);
  margin-bottom:5px !important;
  padding-top:20px;
}

.welcome #a3 {
  color:red;
  font-size: 50px;
  text-decoration: underline;
}

#a1, #a2 {
  color: var(--txt-bg-col);
}

.td-box {
  display: flex;
}

.td-box a{
  flex-grow:1;
  color: var(--txt-bg-col);
}

#a1, #a2, #a3 {
  opacity:0;
}

.list-header {
  width:50%;
  color:var(--txt-bg-col);
  color:white;
  flex-grow:1;
  opacity:0;
}

li {
  text-align:left;
}

.sbbtl- {
  color: gray;
  font-size:15px;
  opacity:0;
}

.ttl-cont {
  margin-bottom:20px;
}

.dropDown-info {
  height:0px !important;
}

#openNav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

  position:fixed;
  top:0;
  left:0;
  width:5%;
  height:42px;
    padding:0 !important;
    background-color: transparent;
    border:none;
    z-index:11;
    flex-grow:1;
    text-align:center;
}

@media screen and (max-width: 767px) {
  #openNav {
    display:none;
  }
  .mySidebar {
    display:none;
  }
}
.txt-r-align {
  text-align:right !important;
}

.spin {
  -webkit-animation:spin .5s linear;
  animation-fill-mode: forwards;
}
.spin2 {
  -webkit-animation:spin2 .5s linear;
  animation-fill-mode: forwards;
}

* {
  outline:none;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(360deg); } }

div button a.hmm {
  color:var(--bg-color) !important;
}
#main {
  margin-top:83px;
}

.mySidebar {
  margin-top:-25px;
  animation-duration: 4s;
  background-color:var(--txt-bg-col);
  position:fixed;
  height:100%;
  width:5%;
}

.header a {
  color: var(--txt-bg-col) !important;
}

.btn {
  border: 0.5px solid green;
  cursor: pointer;
}

.dropdown-menu {
  background-color: var(--bg-color);
  overflow: auto;
  white-space: nowrap;
  position: fixed;
  width:100%;
  top:44px;
  height: 30px;
  flex-grow: 0 !important;
}

.dropdown-item {
  font-family: 'Titillium Web', sans-serif;
  margin-top:6px;
  margin-bottom:auto;
  color:var(--txt-bg-col);
  text-decoration:none;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  font-size: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dropdown-menu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.dropdown-menu {
  -ms-overflow-style: none;
}

.dropdown-item {
  width:100%;
  height:40px;
}

.header a.extend {
  color: var(--bg-color) !important;
  margin-left:0 !important;
}

.sbbtl-2 {
  font-size:25px;
  color: var(--txt-bg-col);
}

.flex-container-modules {
  display: flex;
  text-align: center;
  height: 80vh;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  align-content: space-between;
}

.covid-tracker-module{
  color: var(--txt-bg-col);
  height:100px;
  /* height: 15%; */
  /* filter: grayscale(50%) blur(6px); */
  flex-basis: 20%;
}


.covid-tracker-module a {
  color: var(--txt-bg-col);
  transition: all 0.2s ease-in-out;

}

.covid-tracker-module img {
  /* width:100%; */
  margin-right:auto;
  margin-left:auto;
  height:64px;
  flex-grow: 0;
}

.shopping-module {
  flex-basis: 20%;
}

.flex-module{
  flex-grow: 1;
  flex-basis: 20%;
}

a {
  text-decoration: none;
}

.news-flex-module {
  overflow-y: scroll;
  flex-grow: 2;
  height: 80vh;
  flex-basis: 40%;
  border-left: thin solid;
  border-color: var(--border-news-clr);

}
.news-title {
  color: var(--txt-bg-col);
  transition: all 0.2s ease-in-out;
}

/* .break {
  display: none;
} */

@media screen and (max-width: 767px) {
  .news-flex-module {
    margin-top: 10px;
    flex-basis: 100%;
    border-left: none;
    border-top: thin solid;
    border-color: var(--border-news-clr);
  }
  .news-flex-module {
    overflow-y: visible !important;
  }


}

.title {
  text-align:left;
  margin-left:10px;
  font-family: 'Roboto', sans-serif;
  color: var(--txt-bg-col);
  margin-bottom: 0;
  /* color:red; */
}

.news-link {

  color: var(--txt-bg-col);
}

.news-link:hover {

  color: var(--header-txt-col-hover);
}

.flexdiv {
  display:flex;
}

h5 {
  flex-grow:1;
  text-align:left;
  font-family: 'Manrope', sans-serif;
  margin-bottom:0px;
  margin-top:0px;
  margin-left:10px;
  width:50%;
  color:red;
}

h5:hover {
  color: var(--header-txt-col-hover)
}

h6 {
  margin-top: 0;
  color: var(--txt-desc-color)
}

#show-more {
  text-decoration: underline;
  float:right;
  font-family: 'Manrope', sans-serif;
  margin-right:20px;
}

p {
  margin-bottom: 25px;
  font-size:12px;
  text-align: left;
  margin-left: 10px;
  color: var(--txt-desc-color);
  margin-top: 0;
}

p:hover {
  color: var(--header-txt-col-hover)
}

h6 {
  margin-left: 10px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

#contBTN {
  margin-top:10px;
  color: var(--txt-desc-color);
  margin-right:1vw;
}

#contDiv {
  text-align: right;
  margin-top:5px;
}

.row {
  display:flex;
  flex-grow:15;
}
